.tab {
    color: black;
    border: 2px solid blue;
    margin-right: 20px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 5px;
    background-color: lightblue;
    background-image: linear-gradient(to top, cyan, lightblue);
}

.tab:hover {
    color: black;
    border: 2px solid blue;
    margin-right: 20px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 5px;
    background-color: lightblue;
    background-image: linear-gradient(to top, lightblue, cyan);
}

.tab:active {
    color: black;
    border: 2px solid blue;
    margin-right: 20px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 5px;
    background-color: lightblue;
    background-image: linear-gradient(to top, lightblue, blue);
}

table {
    border-collapse: collapse;
    width: 100%;
    border: 2px solid black;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(odd) {
    background-color: lightcyan;
}

tr:nth-child(even) {
    background-color: lightblue;
}

.modifier {
    margin-top: 20px;
}
