table {
    border-collapse: collapse;
    width: 100%;
    border: 2px solid black;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(odd) {
    background-color: rgb(218, 218, 218);
}

tr:nth-child(even) {
    background-color: rgb(206, 206, 206);
}

.modifier {
    padding-top: 20px;
}
